.App {
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}
.ml-10 {
  margin-left: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
